@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200;600&display=swap');

.App{
    height: 100vh;

    display: flex;
}

.leftSide{
    width: 15vw;
    height: 100vh;
}

.topLeftSide{
    height: 15vw;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
}

.BottomLeftSide{
    height: calc(100% - 15vw - 1px);
    border-right: 1px black solid;
    overflow: hidden;
}

.BottomLeftSide h2{
    position: absolute;
    left: 0;
    bottom: 0;
    transform-origin: bottom left;
    width: max-content;
    rotate: -90deg;
    margin: 0;
    margin-left: 10vw;
    margin-bottom: 15px;
    font-size: 56px;
    font-family: 'Martian Mono', monospace;
    font-weight: 900;
}

.rightSide{
    width: 85vw;
    height: 100vh;
}

.topRightSide{
    height: 15vw;
    border-bottom: 1px black solid;
    overflow: hidden;

    display: flex;
    justify-content: end;
    align-items: center;
}

h1{
    font-size: 52px;
    font-family: 'Martian Mono', monospace;
}

.topRightSide h1{
    margin: 0;
    margin-right: 10px;
}

.BottomRightSide{
    height: calc(100% - 15vw - 1px);
}

.menuAndTitle{
    height: calc(15vw - 30px) ;

    display: flex;
    gap: 15px;
    border-bottom: 1px black solid;
    padding: 15px;
}

.buttonMenu{
    width: calc(15vw * .7);
    height: calc(15vw * .7);
    border: 1px solid black;
    min-height: calc(15vw * .7);

    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonMenu img{
    height: 80%;
}

h2{
    font-size: 20px;
    font-family: 'Martian Mono', monospace;
    font-weight: 200;
}

.page{
    height: calc(100% - 15vw - 1px);
}